.slider-wrapper {
    border: 2px solid #eee;
    padding: 7px;
    border-radius: 5px;
}

.card-product {
    border-radius: 0;
    border: none;
}

.card-product:hover {
    /* margin-top: 10px; */
    box-shadow: 0 1px 7px 1px #ddd;
}